In [2]:
import pandas as pd
import numpy as np

In [3]:
filepath = '/content/drive/MyDrive/1CodingDojo/Week7_2/Ecommerce Customers.csv'
df = pd.read_csv(filepath)
df.head()

                           Email  ... Yearly Amount Spent
0      mstephenson@fernandez.com  ...          587.951054
1              hduke@hotmail.com  ...          392.204933
2               pallen@yahoo.com  ...          487.547505
3        riverarebecca@gmail.com  ...          581.852344
4  mstephens@davidson-herman.com  ...          599.406092

[5 rows x 8 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       500 non-null    float64
 6   Length of Membership  500 non-null    float64
 7   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

In [6]:
df.isnull().sum()

Email                   0
Address                 0
Avatar                  0
Avg. Session Length     0
Time on App             0
Time on Website         0
Length of Membership    0
Yearly Amount Spent     0
dtype: int64

In [11]:
df.duplicated().sum()

0

1) Source of data

https://www.kaggle.com/teberle/e-commerce-linear-regression/data

2) Brief description of data

 An ecommerce company sells its products in stores, on its website and in an app. To predict the decision whether to focus on the app or the website to increase their annual revenues.

3) What is the target?

Yearly Amount Spent

4) Is this a classification or regression problem?

Regression problem

5) How many features?

5 features (Avg. Sesssion Length, Time on App, Time on Website, Length of Membership, Yearly Amout Spent)


6) How many rows of data.

500 Rows

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

No